<h1 style="color:blue">
    Generar SAS Token Alumnos
</h1>

<form method="post">
    <label>Introduzca curso: </label>
    <input type="text" name="curso"
           class="form-control"/>
    <button type="submit" class="btn btn-danger">
        Generar Token
    </button>
</form>

<h2 style="color:green">
    @ViewData["TOKEN"]
</h2>